.wImg{
  background: rgb(29,108,242);
background: linear-gradient(180deg, rgba(29,108,242,1) 0%, rgba(26,206,251,1) 100%);
}
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #F98E72;
  margin-top: 20px;
  padding: 10px;
}
.App{
  width: 100%;
  height: 100%;
  background: rgb(255,215,100);
background: linear-gradient(90deg, rgba(255,215,100,1) 0%, rgba(255,197,166,1) 100%); 
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  border-radius: 12px;
  border: solid #FFC5A6 3px;
  padding: 20px 60px;
  box-shadow: 2px 1px 2px lightgray;
  margin-left: 5px;
}
.input_line{
  border-radius: 12px;
  border: solid #FFC5A6 3px;
  padding: 20px 60px;
  box-shadow: 2px 1px 2px lightgray;

}